@import url('https://fonts.googleapis.com/css?family=Indie+Flower:100, 200, 300, 400, 500, 600, 700|Exo:100, 200, 300, 400, 500, 600, 700');

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Indie Flower", sans-serif;
}

/* -------------------------- Header */

.header-container {
    height: 10vh;
}

/* -------------------------- Header/Navbar */

.navbar {
    font-family: "Indie Flower", sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #4a4a4f;
    border-bottom: 3px dashed #000;
}

.navbar-default .navbar-brand {
    color: #ffffff;
    margin-top: 3px;
}

.navbar .navbar-brand {
    font-size: 42px;
    font-weight: 700;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.navbar-default .navbar-nav>li>a {
    font-weight: 700;
    font-size: 25px;
    color: #ffffff;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
    color: #00f1ff;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #00f1ff;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #4a4a4f;
    background-color: #ffffff;
    font-size: 35px;
    border: 1px solid #4a4a4f;
    border-radius: 10px;
    padding: 18px 8px;
}

.navbar-toggle {
    border: none;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
    width: 28px;
    height: 5px;
    border-radius: 2px;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}


/* -------------------------- Section/Cover-image */

.cover-image-container {
    padding: 0;
    text-align: center;

}

.cover-image-container .cover-image {
    width: 100%;
    height: auto;
    padding: 0;
}

/* -------------------------- Main-Section */

.main-container {
    text-align: center;
    font-family: "Indie Flower", sans-serif;
}

.main-container h2 {
    font-weight: 700;
    font-size: 50px;
    border-bottom: 3px dashed #000;
    padding-bottom: 24px;
}

/* -------------------------- Section/Reviews */

.review-column {
    background-color: #191970;
    padding-top: 26px;
    padding-bottom: 25px;
}

.page-header-review {
    color: #fff;
}

blockquote {
    border-color: #000;
}

blockquote p {
    color: #fff;
}

blockquote footer {
    font-size: 20px;
}



/* -------------------------- Section/About */

.about-column {
    background-color: #C0C0C0;
    margin: 0;
    padding: 0;
    border-left: 3px dashed #000;
    border-right: 3px dashed #000;

}

.about-column p {
    font-size: 20px;
    padding: 20px 38px;
    margin-bottom: 0;
}

.page-header-about {
    color: #4a4a4f;
    margin-top: 0;
    padding-top: 20px;
}

.about-button {
    margin-top: 20px;
    margin-bottom: 40px;
    border: 3px dashed #c0c0c0;
    font-size: 24px;
}

/* -------------------------- Section/Event */

.event-column {
    background-color: #2E8B57;
    padding: 0;
    border-left: 3px dashed #000;
    border-right: 3px dashed #000;
}

.event-column  {
    color: #000;
}

.page-header-event {
    margin: 0;
    padding-top: 24px;
    padding-bottom: 20px;
    color: #000;
}

/* -------------------------- Media Queries */

@media (min-width: 768px) {
    .navbar-default .navbar-nav>li>a {
        font-size: 24px;
        border-left: 3px solid;
        border-radius: 16px;
        margin: 8px;
    }
    .navbar-default .navbar-nav>.active>a,
    .navbar-default .navbar-nav>.active>a:focus,
    .navbar-default .navbar-nav>.active>a:hover {
        font-size: 30px;
    }

    .navbar .navbar-brand {
        font-size: 50px;
        margin-top: 14px;
    }

    blockquote p {
        font-size: 24px;
    }

    .about-column p {
        font-size: 24px;
        padding: 25px 70px;
    }

}

@media (min-width: 1200px) {
    .navbar-default .navbar-nav>li>a {
        font-size: 30px;
    }
    .navbar-default .navbar-nav>.active>a,
    .navbar-default .navbar-nav>.active>a:focus,
    .navbar-default .navbar-nav>.active>a:hover {
        font-size: 40px;
    }

    .navbar .navbar-brand {
        font-size: 72px;
    }

    blockquote p {
        font-size: 30px;
    }
}

footer .footer-container {
    background-color: #525252;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}