@import url('https://fonts.googleapis.com/css?family=Indie+Flower:100, 200, 300, 400, 500, 600, 700|Exo:100, 200, 300, 400, 500, 600, 700');

html,
body {
    margin: 0;
    padding: 0;
}

/* -------------------------- Navbar */

.navbar {
    font-family: "Indie Flower", sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #4a4a4f;
}

.navbar-default .navbar-brand {
    color: #ffffff;
    margin-top: 3px;
}

.navbar .navbar-brand {
    font-size: 42px;
    font-weight: 700;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.navbar-default .navbar-nav>li>a {
    font-weight: 700;
    font-size: 25px;
    color: #ffffff;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
    color: #00f1ff;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #00f1ff;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #4a4a4f;
    background-color: #ffffff;
    font-size: 35px;
    border: 1px solid #4a4a4f;
    border-radius: 10px;
    padding: 18px 8px;
}

.navbar-toggle {
    border: none;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
    width: 28px;
    height: 5px;
    border-radius: 2px;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

/* -------------------------- Media Queries */

@media (min-width: 768px) {
    .navbar-default .navbar-nav>li>a {
        font-size: 24px;
        border-left: 3px solid;
        border-radius: 16px;
        margin: 8px;
    }
    .navbar-default .navbar-nav>.active>a,
    .navbar-default .navbar-nav>.active>a:focus,
    .navbar-default .navbar-nav>.active>a:hover {
        font-size: 30px;
    }

    .navbar .navbar-brand {
        font-size: 50px;
        margin-top: 14px;
    }
}

@media (min-width: 1024px) {
    .navbar-default .navbar-nav>li>a {
        font-size: 30px;
    }
    .navbar-default .navbar-nav>.active>a,
    .navbar-default .navbar-nav>.active>a:focus,
    .navbar-default .navbar-nav>.active>a:hover {
        font-size: 40px;
    }

    .navbar .navbar-brand {
        font-size: 72px;
    }
}
